html, body{
	height: 100%;
}

.full-height{
	height: 100%;
}

.full-width{
	width: 100%;
}

.selectable{
	cursor: pointer;
}

.no-margin{
	margin: none;
}

.no-padding{
	padding: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: black;
	opacity: 0.32; /* Firefox */
  }

